/* GRIDDER CSS */

.gridder { 
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: left;
}

.caption-text { 			/* Item description on the thumbnails (blue box over the images) */
	width: 320px;
	height: 320px;
	background: rgba(255,255,255,0.9);
	text-align: center;
	position: absolute;
	display: none;
	z-index:6;
	cursor:pointer;
}

.caption-text p.description { 		/*title overlay on thumbnail */
	color:#292929;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	margin-top:43%;
	text-align:center;
	font-size:21px;
}

.caption-text p.price { 			/*price overlay on thumbnails*/
	color:#292929;
	font-family:Georgia, Serif;
	font-weight:200;
	text-align:center;
	font-size:14px;
	font-style:oblique;
}

.og-close { 							/* close button in expanded area */
	position: absolute;
	width: 40px;
	height: 40px;
	top: 10px;
	right: 30px;
	cursor: pointer;
	display:block;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.gridder-list { 
	display: inline-block;
	margin: 10px 5px 25px;
	height: 320px;
	width: 320px;
	vertical-align:top;
}

.gridder-list .gridder-thumb {
	position:relative;
	display: block;
	width:320px;
}

.gridder-list img {
	width: 320px;
	height: 320px;
}

.gridder-list:hover .overlay {
	opacity: 0.8;
}


.gridder-list.imactive:after {
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 14px 20px 14px;
	border-color: transparent transparent #ddd transparent;
	display: block;
	position: relative;
	left: 50%;
	margin-left: -14px;
	bottom:9px;
	z-index:7;
}

.gridder-image, .gridder-content {
	display: none;
}

.gridder-show {
	text-align: center;
	position: absolute;
	background: #ddd;
	float: left;
	padding: 0px;
	color: #000;
	overflow: hidden;
	font-size: 0;
	width: 100%;
	margin-top:10px;
	left:0;
	height:540px;
}

.gridder-show .image {
	width: 43%;
	height: 475px;
	display: inline-block;
	margin: 35px 50px 30px 30px;
	background:#000;
}

.gridder-show .content {
	width: 40%;
	text-align: left;
	display:inline-block;
	vertical-align: top;
	margin: 60px 30px 0 0;
}

.gridder-show .content img {
	width: 160px;
	float: left;
	margin-right: 20px;
}

.gridder-show .content h3 {
	font-weight: 200;
	font-size: 52px;
	color: #292929;
	margin-bottom: 7px;
}

.gridder-show .content h4 {
	font-weight: 200;
	margin-bottom: 15px;
	color: #292929;
	font-style: oblique
}

.gridder-show .content p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}
.gridder-show .content a {
	cursor: pointer;
}

.gridder-show .gridder-show-container {
	display: none;
}

.gridder-show:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}

.gridder-img:hover {
	opacity: 0.8;
}

.gridder-float {
	float: left;
}

.gridder-nav.prev {
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 10px;
	background: url("../images/prev.png") no-repeat center center;
	width: 40px;
	height: 24px;
	margin-top:-12px;
}

.gridder-nav.next {
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10px;
	background: url("../images/next.png") no-repeat center center;
	width: 40px;
	height: 24px;
	margin-top:-12px;
}

.gridder-prev:hover {
	opacity: 1;
}

.gridder-list select.size-value {
	width: 65px;
	height: 38px;
	border-radius: 0;
	border: 0;
	-webkit-appearance: none;
	appearance: none;
	margin-right:30px;
	background: #436070;
	color: #FFF;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	padding: 0 20px;
	cursor:pointer;
}

.gridder-list select.size-value:hover {
	border:2px solid #436070;
	padding:8px 18px;
	background:none;
	color:#436070;
}

.gridder-list a.add-to-cart {
	font-weight: 400;
	font-size: 16px;
	color: #f0f0f0;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	background: #436070;
	display: inline-block;
	margin-top: 30px;
	outline: none;
}

.gridder-list a.add-to-cart:hover {
	border:2px solid #436070;
	padding:8px 18px;
	background:none;
	color:#436070;
}

.gridder-list a.add-to-cart::before {
	content: '+';
	display: inline-block;
	margin-right: 10px;
}

/* Media Queries
*********************************************/
/* Retina */
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
