@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

/* BASIC CSS */
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* IE < 8 */
}

body{
	font-family: 'Armata', sans-serif;
	padding:0px;
	margin:0px;
}

img{
	max-width:100%;
}

.container{
	width:1140px;
	margin:0 auto;
	margin-bottom:1000px;
}

h1{
	text-align:center;
}



/* GRIDDER CSS */
.gridder{
	width:100%;
	margin: 0 auto;
	
	font-size:0;
}

.gridder-list {
	display:inline-block;
	*display:inline;
	white-space-collapsing:discard;
	zoom:1;
	
	width:24%;
	margin-left:1.3%;
	margin-bottom:1%;
	
	
	background: #f3f3f3; 
	cursor:pointer;
	position:relative;
	
	.gridder-thumb{
		display:block;
		
		.overlay{
			position:absolute;
			color:#000;
			z-index:1;
			text-align:center;
			left:0px;
			bottom:0px;
			font-weight:normal;
			display:block;
			background: #f7f7f7;
			width:100%;
			padding:10px 0;
			font-size: 16px;
			
			 @include transition(all, 0.2s, ease-in-out);
			 
			 opacity:0;
			
			span{
				font-weight: 11px;
				display:block;
			}
		}
	}
	
	img{width:100%;}
	
	&:hover .overlay{opacity:0.8;}
	&.first{margin-left:0px;}
}
.gridder-list.imactive{
	margin-bottom:26px;
	
	.overlay{
				
	}
	
	&:after{
		content: "";
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 14px 17px 14px;
		border-color: transparent transparent #f7f7f7 transparent;
		
		display:block;
		position:absolute;
		bottom:0px;
		left: 40%;
		margin-bottom:-26px;
	}
}

.gridder-image,
.gridder-content{
	display:none;
}

.gridder-show {
	text-align:center;
	position:relative;
	background:#f3f3f3;
	float:left;
	padding:0px;
	color:#000;
	overflow:hidden;
	font-size:0;
	width:90%;
	padding: 5%;
	margin-bottom:1%;
    
	.image{    
		float:left;
		width:50%;
		margin-left:50px;
		
		img{
			
		}
	}
	
	.content{
		float:right;
		width:30%;
		text-align:left;
		margin-right:50px;
		
		img{
			width:160px;
			float:left;
			margin-right: 20px;
		}
		
		h2{
			font-weight:bold;
			color: #b2083c;
			font-size:30px;
			margin:0px;
			margin-bottom:15px;
		}
		
		p{
			font-family: Arial;
			font-size:14px;
			margin:0px;
			margin-bottom:20px;
			line-height:20px;
		}
		
		a{cursor:pointer;}
	}	
	
	.image{
		box-shadow:0 1px 4px #222;
		border:1px solid #222;
	}
    
    .padding{
        display: none;
    }
}

.gridder-show:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}


.gridder-img:hover {
	opacity:0.8;
}
.gridder-float {
	float:left;
}
.gridder-close {
	opacity:1;
	cursor:pointer;
	position:absolute;
	top:15px;
	right:15px;
	background:url("../images/close.png") no-repeat center center;
	width:13px;
	height:13px;
}
.gridder-close:hover {
	opacity:1;
}

.gridder-nav.prev {
	opacity:0.7;
	cursor:pointer;
	position:absolute;
	top:50px;
	left:10px;
	background:url("../images/prev.png") no-repeat center center;
	width:40px;
	height:99px;
}
.gridder-nav.next {
	opacity:0.7;
	cursor:pointer;
	position:absolute;
	top:50px;
	right:10px;
	background:url("../images/next.png") no-repeat center center;
	width:40px;
	height:99px;
}

.gridder-prev:hover {
	opacity:1;
}


/* Media Queries
*********************************************/
/* Retina */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	
}
/* Landscape phones and down */
@media (max-width: 480px) {
	
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
  
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}
/* Large desktop */
@media (min-width: 1200px) {
	
}


