/* BASIC CSS */
.clearfix:before, .clearfix:after { content: "."; display: block; height: 0; overflow: hidden; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; /* IE < 8 */ }

body { font-family: 'Armata', sans-serif; padding: 0px; margin: 0px; }

img { max-width: 100%; }

.container { padding: 0 20px; }

h1 { text-align: center; }

/* GRIDDER CSS */
.gridder { width: 100%; margin: 0 auto; font-size: 0; }

.gridder-list { display: inline-block; *display: inline; white-space-collapsing: discard; zoom: 1; width: 19.2%; margin-left: 1%; margin-bottom: 1%; background: #f3f3f3; cursor: pointer; position: relative; }
.gridder-list .gridder-thumb { display: block; }
.gridder-list .gridder-thumb .overlay { position: absolute; color: #FFF; z-index: 1; text-align: center; left: 0px; bottom: 0px; font-weight: normal; display: block; background: #000000; width: 100%; padding: 5px 0; font-size: 12px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; opacity: 0; }
.gridder-list .gridder-thumb .overlay span { font-weight: 11px; display: block; }
.gridder-list img { width: 100%; }
.gridder-list:hover .overlay { opacity: 0.8; }
.gridder-list.first { margin-left: 0px; }

.gridder-list.imactive { margin-bottom: 26px; }
.gridder-list.imactive:after { content: " "; width: 0px; height: 0px; border-style: solid; border-width: 0 12px 12px 12px; border-color: transparent transparent #222222 transparent; display: block; position: absolute; bottom: 0px; left: 45%; margin-bottom: -26px; }

.gridder-image, .gridder-content { display: none; }

.gridder-show { text-align: center; position: relative; background: #222222; float: left; padding: 0px; display: none; color: #000; overflow: hidden; font-size: 0; width: auto; margin-bottom: 1%; min-height: 300px; margin-left: -20px; margin-right: -20px; padding: 20px; }
.gridder-show .padding { padding: 20px; }
.gridder-show .image { float: left; width: 49%; margin-left: 5%; min-height: 300px; }
.gridder-show .content { float: right; width: 40%; text-align: left; margin-right: 4%; padding-left: 1%; border-left: 1px solid #343434; min-height: 300px; }
.gridder-show .content img { width: 160px; float: left; margin-right: 20px; }
.gridder-show .content h2 { font-weight: bold; color: #D6D6D6; font-size: 30px; margin: 0px; margin-bottom: 15px; }
.gridder-show .content p { font-family: Arial; font-size: 12px; margin: 0px; margin-bottom: 20px; line-height: 20px; color: #D6D6D6; }
.gridder-show .content a { cursor: pointer; }
.gridder-show .image { box-shadow: 0 1px 4px #222; border: 1px solid #222; }

.gridder-show:after { content: "."; display: block; height: 0; overflow: hidden; }

.gridder-img:hover { opacity: 0.8; }

.gridder-float { float: left; }

.gridder-close { opacity: 0.6; cursor: pointer; position: absolute; top: 30px; right: 30px; background: url("../images/close.png") no-repeat center center; width: 20px; height: 20px; }

.gridder-close:hover { opacity: 1; }

.gridder-nav { background: #3C3C3C; height: 100px; width: 30px; position: absolute; top: 38%; cursor: pointer; opacity: 0.6; }
.gridder-nav.prev { left: 0px; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.gridder-nav.prev div { background: url("../images/prev.png") center no-repeat; bottom: 0; height: 23px; left: 0; margin: auto; position: absolute; right: 0; top: 0; width: 14px; }
.gridder-nav.next { right: 0px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.gridder-nav.next div { background: url("../images/next.png") center no-repeat; bottom: 0; height: 23px; left: 0; margin: auto; position: absolute; right: 0; top: 0; width: 14px; }
.gridder-nav:hover { opacity: 1; }

.gridder-prev:hover { opacity: 1; }

/* Media Queries
*********************************************/
/* Retina */
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
