/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/01/2016, 9:19:16 AM
    Author     : Oriongu
*/

@import 'mixins';
@import 'gridder';

// CUSTOM CSS

body{
    height: 100%;
    font-family: 'Open Sans',sans-serif;
    font-weight: 100;
    line-height: 1.5em;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.block{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 1px;
    
    &.block.blue {
        background-color: #3267a0;
    }
    &.block.lightblue {
        background-color: #5abbe6;
    }

    &.block.invert {
        color: #fff;
        text-shadow: rgba(0,0,0,.3) 0 1px 1px;
        
         a {
            color: #fff;
            text-decoration: none;
        }
        
    }
}

.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

h1{
    margin-top: .5em;
    margin-bottom: .5em;
    text-shadow: rgba(0,0,0,.3) 0 1px 1px;
    font-size: 60px;
    line-height: 1.3em;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 1em;
    line-height: 1em;
}

p{
    margin-bottom: 1em;
}

strong {
    font-weight: bold;
}

img{
    display: block;
}

.codeblock {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: rgba(0,0,0,.05);
    margin-bottom: 2em;
    position: relative;
    padding-right: 120px;
}