/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/01/2016, 9:19:16 AM
    Author     : Oriongu
*/

@import 'mixins';
@import 'gridder';
@import 'bulma';

body{
    height: 100%;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    background-color: #fff;
    color: #222;
    padding: 0.5%;
}

.gridder-expanded-content{
    color: #FFF;
    .title{
        color: #FFF;
    }
}

.seachForm{
    width: 100%;
    display: block;
    padding: 10px 0;
    
    input{
        width: 100%;
        padding: 10px;
        display: block;
    }
}
