<!DOCTYPE html>
<html>
    <head lang="en">

        <title>Gridder - Image Expander</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,300' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
        
        <link href='css/style.css' rel='stylesheet' type='text/css' />

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-18697362-5', 'auto');
            ga('send', 'pageview');
        </script>

    </head>
    <body ng-app="gridderApp">

        <div ng-controller="gridderExample1Controller">

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-3">jQuery Gridder</h1>
                    <p class="lead">A jQuery plugin that displays a thumbnail grid expanding preview similar to the effect seen on Google Images.</p>
                    <p>Brought to you by <a href="https://www.oriongunning.com" target="_blank">www.oriongunning.com</a></p>

                    <h2>Markup</h2>
                    <pre>
                        <code class="html">
                            &lt;!-- Gridder navigation --&gt;
                            &lt;ul class=&quot;gridder&quot;&gt;

                                 &lt;!-- You can load specify which content is loaded by specifying the #ID of the div where the content is  --&gt;
                                &lt;li class=&quot;gridder-list&quot; data-griddercontent=&quot;#content1&quot;&gt;
                                    &lt;img src=&quot;https://placehold.it/600x400&quot; /&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;gridder-list&quot; data-griddercontent=&quot;#content2&quot;&gt;
                                    &lt;img src=&quot;https://placehold.it/600x400&quot; /&gt;
                                &lt;/li&gt;
                                &lt;li class=&quot;gridder-list&quot; data-griddercontent=&quot;#content3&quot;&gt;
                                    &lt;img src=&quot;https://placehold.it/600x400&quot; /&gt;
                                &lt;/li&gt;

                                &lt;!-- You can also load html/ajax pages by replacing the #ID with a URL --&gt;
                                &lt;li class=&quot;gridder-list&quot; data-griddercontent=&quot;/content.html&quot;&gt;
                                    &lt;img src=&quot;https://placehold.it/600x400&quot; /&gt;
                                &lt;/li&gt;
                            &lt;/ul&gt;

                            &lt;!-- Gridder content --&gt;
                            &lt;div id=&quot;content1&quot; class=&quot;gridder-content&quot;&gt; Content goes here... &lt;/div&gt;
                            &lt;div id=&quot;content2&quot; class=&quot;gridder-content&quot;&gt; Content goes here... &lt;/div&gt;
                            &lt;div id=&quot;content3&quot; class=&quot;gridder-content&quot;&gt; Content goes here... &lt;/div&gt;
                        </code>
                    </pre>
                    
                    <h2>Options Available</h2>
                    <pre>
                        <code class="js">
                            // Call Gridder
                            $('.gridder').gridderExpander({
                                scroll: true,
                                scrollOffset: 30,
                                scrollTo: "panel", // panel or listitem
                                animationSpeed: 400,
                                animationEasing: "easeInOutExpo",
                                showNav: true, // Show Navigation
                                nextText: "<span></span>", // Next button text
                                prevText: "<span></span>", // Previous button text
                                closeText: "", // Close button text
                                onStart: function () {
                                    //Gridder Inititialized
                                    console.log('On Gridder Initialized...');
                                },
                                onContent: function () {
                                    //Gridder Content Loaded
                                    console.log('On Gridder Expand...');
                                },
                                onClosed: function () {
                                    //Gridder Closed
                                    console.log('On Gridder Closed...');
                                }
                            });
                        </code>

                    </pre>

                </div>
            </div>

            <div class="container">
                <h2>Basic Example</h2>
                <p>This is the most basic form of using jQuery Gridder.</p>
            </div>

            <!-- Gridder navigation -->
            <ul class="gridder clearfix">
                <li class="gridder-list" data-griddercontent="#content{{champion.id}}" ng-repeat="champion in filteredChampions = (champions| myFilterTerm:filter | myFilterTags:filter | orderBy: 'id':true ) ">
                    <div class="image" style="background-image: url('https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champion.key}}_0.jpg');">
                        <div class="overlay">
                            <span class="title">{{champion.name}}</span><br>
                            <span class="description">{{champion.title}}</span>
                        </div>
                    </div>
                </li>
                <li class="gridder-list" data-griddercontent="./content.html">
                    <div class="image" style="">
                        <div class="overlay">
                            <span class="title">AJAX EXAMPLE</span><br>
                            <span class="description">Some random content loaded via ajax.</span>
                        </div>
                    </div>
                </li>
                <li class="gridder-list" data-griddercontent="#contentExternalPlugins">
                    <div class="image" style="">
                        <div class="overlay">
                            <span class="title">External Plugins</span><br>
                            <span class="description">How to use external plugins in expanded content.</span>
                        </div>
                    </div>
                </li>
            </ul>
            
            <!-- BASIC CONTENT BLOCS -->
            <div id="content{{champion.id}}" class="gridder-content" ng-repeat="champion in champions">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champion.key}}_0.jpg" alt="{{champion.name}}" />
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title">{{champion.name}}</h2>
                        <h3 class="subtitle">{{champion.title}}</h3>
                        <hr />
                        <p ng-bind-html="champion.blurb | unsafe"></p>
                    </div>
                </div>
            </div>
            
            <!-- EXTERNAL PLUGINS CONTENT BLOC -->
            <div id="contentExternalPlugins" class="gridder-content">
                <div class="row">
                    <div class="col-sm-7">
                        
                        <div id="carousel-example-generic" class="carousel slide">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="{{ $index }}" class="{{ $index == 0 ? 'active':'' }}" ng-repeat="champion in champions"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item {{ $index == 0 ? 'active':'' }}" ng-repeat="champion in champions">
                                    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champion.key}}_0.jpg" alt="{{champion.name}}" />
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="icon-prev" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="icon-next" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        
                    </div>
                    <div class="col-sm-4 offset-sm-1">
                        <h2 class="title">External Plugins</h2>
                        <h3 class="subtitle">How to use external plugins in expanded content.</h3>
                        <hr />
                        <p>Just simply fire the external plugins in the onContent event.</p>
                        <pre>
                            <code>
    $('.gridder').gridderExpander({
        onContent: function () {
            $('.carousel').carousel(); // FIRE YOUR EXTERNAL PLUGIN, COULD BE ANYTHING.
        }
    });
                            </code>
                        </pre>
                    </div>
                </div>
            </div>

        </div>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script> 
        <script src="https://rawgit.com/oriongunning/gridder/master/dist/js/jquery.gridder.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/data.js"></script>  
        <script src="js/controllers/mainController.js"></script>  

        <script>

            jQuery(document).ready(function ($) {
                
                hljs.initHighlightingOnLoad();
                
                // Call Gridder
                $('.gridder').gridderExpander({
                    scroll: true,
                    scrollOffset: 30,
                    scrollTo: "panel", // panel or listitem
                    animationSpeed: 400,
                    animationEasing: "easeInOutExpo",
                    showNav: true, // Show Navigation
                    nextText: "<span></span>", // Next button text
                    prevText: "<span></span>", // Previous button text
                    closeText: "", // Close button text
                    onStart: function () {
                        //Gridder Inititialized
                        console.log('On Gridder Initialized...');

                    },
                    onContent: function () {
                        //Gridder Content Loaded
                        console.log('On Gridder Expand...');
                        $('.carousel').carousel();
                    },
                    onClosed: function () {
                        //Gridder Closed
                        console.log('On Gridder Closed...');

                    }
                });

            });

        </script>

    </body>
</html>
